.containerDay3{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5 linear;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}

.containerDay3.show-nav{
    transform: rotate(-20deg);
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: var(--color-blue);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}
.containerDay3.show-.Nav__Day3 .circle{
    transform: rotate(-70deg);
}
.circle button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus{
    outline: none;
}
.circle button#open{
    left: 60%;
}
.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.containerDay3.show-nav + .Nav__Day3 li {
    transform: translateX(0);
    transition-delay: 0.3s;
}
.Nav__Day3{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
.Nav__Day3 ul{
    list-style-type: none;
    padding-left: 30px;
}
.Nav__Day3 ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
.Nav__Day3 ul li i{
    font-size: 20px;
    margin-right: 10px;
}
.Nav__Day3 ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}
.Nav__Day3 ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}
.Nav__Day3 a{
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}
.content .Nav__Day3 a:hover{
    color: #ff7979;
}
.content img{
    max-width: 100%;
}
.content{
    max-width: 1000px;
    margin: 50px auto;
}
.content h1{
    margin: 0;
}
.content small{
    color: #555;
    font-style: italic;
}
.content p{
    color: #333;
    line-height: 1.5;
}

